@inject AppbarService _appbarService


<div class="changePasswordoptions">
    <ul>
        <a asp-action="ChangePassword">
            Sent a opt to your email!
        </a>
    </ul>
</div>


@section Sidebar {
    @Html.Raw(_appbarService.RenderHtml())
}
@{
    _appbarService.SetActive("Manage", "ChangePassword", "Identity");
}